# UV virtual environments
.venv/

# Python build artifacts
__pycache__/
*.py[cod]
*.py[oc]
*$py.class
build/
dist/
wheels/
*.egg-info/

# Everything in these project directories
lib/
*outputs*/

# These specific files
seed_subscribers.json

# But don't ignore (include) this directory
!sample_outputs/